<% provide(:title, "Report") %>
<!Doctype html>
<html>
    <head><title><%= yield(:title) %></title></head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12 col-xs-12 table-responsive col-md-offset-3">
                    <h2 class="text-center">Report</h2>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td class="table-dark">Infected Survivors</td>
                            <td>
                                <%= @infected_count %>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-dark">Non-Infected Survivors</td>
                            <td><%= @non_infected_count %></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
