<% provide(:title, "Home") %>
<!Doctype html>
<html>
<head>
    <title><%= yield(:title) %></title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-md-offset-3 jumbotron">
                <div>
                    <h4>Welcome to Zombie Apocalypse</h4>
                    <p>Its the Zombie Apocalypse Survival App</p>
                    <div>
                        <% if !logged_in? %>
                            <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary btn_signup" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
